/* HeroDetailComponent's private CSS styles */
.pet-info {
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  margin-left: 30%;
}

label {
  color: #435960;
  font-weight: bold;
}
input {
  font-size: 1em;
  padding: 0.5rem;
}
button {
  margin-top: 20px;
  background-color: #eee;
  padding: 1rem;
  border-radius: 4px;
  font-size: 1rem;
}
button:hover {
  background-color: #76b670;
  transition: ease 0.5s;
}
button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}
