<div *ngIf="pet" class="pet-info">
  <h2>{{ pet.name | uppercase }} info</h2>
  <div><span>id: </span> {{ pet.id }}</div>
  <div>{{ pet.name }} is a funny {{ pet.type }}</div>
  <div>
    <label for="pet-info"></label>
    <input id="pet-name" [(ngModel)]="pet.name" placeholder="name" />
    <input id="pet-type" [(ngModel)]="pet.type" placeholder="type" />
  </div>

  <button type="button" (click)="goBack()">🔙👈🏻🔙</button>
  <button type="button" (click)="saveChange()">Save change</button>
</div>
