<h2>My pets</h2>

<div>
  <label for="new-pet-name">Pet name: </label>
  <input id="new-pet-name" #petName />
  <label for="new-pet-type">Pet type: </label>
  <input id="new-pet-type" #petType />

  <button
    type="button"
    class="add-button"
    (click)="
      addNewPet(petName.value, petType.value);
      petName.value = '';
      petType.value = ''
    "
  >
    Add the new pet to the list
  </button>
</div>

<ul class="pets">
  <li *ngFor="let pet of pets">
    <a routerLink="/detail/{{ pet.id }}">
      <span class="badge">{{ pet.id }}</span> {{ pet.name }}
    </a>
    <button
      type="button"
      class="delete"
      title="delete pet"
      (click)="deletePet(pet)"
    >
      Delete
    </button>
  </li>
</ul>
